.user-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 2px;
  transition: 0.8s;
}

.user-list-item:hover {
  background: #2b2b2b;
  cursor: pointer;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.user-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.user-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.user-list-item-selected{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2b2b2b;
  margin-bottom: 2px;
}