.toolbar-button {
  color: #ffffff;
  font-size: 28px;
  transition: all 0.5s;
}

.toolbar-button:hover {
  cursor: pointer;
  color: #b3b3b6;

}

.toolbar-button:active {
  color: #dbdddf;
  opacity: 0.25;
}