.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 375px);
  bottom: 0px;
  background: #18222c;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: #222f3f;
  padding-left:20px ;
  border-radius: 20px;
  margin-right: -5px;
  color:white;
}

.compose-input::placeholder {
  opacity: 0.5;
}

.compose .toolbar-button {
  color: #319eed;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}